@import "./../../variables.scss";

.selfie-container {
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-bottom: 40px !important;
  }
  svg {
    margin-bottom: 40px !important;
  }
  .selfie-time {
    font-weight: 500;
    font-size: 24px;
  }
  .selfie-smile {
    font-weight: 400;
    font-size: 16px;
  }
  .btn-primary,
  .btn-secondary {
    min-width: 160px;
    border-radius: 4px;
  }

  .captured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .captured-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .image-buttons-container {
    display: flex;
    gap: 8px;
  }
}

.modal-body {
  .selfie-camera {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

@include media-breakpoint-down(md) {
  .main-content {
    height: auto !important;
    .captured-image {
      width: 350px;
      height: 350px;
    }
    .icon-samla {
      margin-top: 46px;
    }
    .icon-camera {
      margin-top: 140px;
    }
    .description-container {
      margin-bottom: 130px;
    }
    .take-photo-container {
      width: 100%;
      padding: 0 30px;
      .btn {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .modal-body {
    .selfie-camera {
      width: 350px;
      height: 350px;
    }
  }
  .image-buttons-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 25px;
    padding-bottom: 14px;
  }
}

@include media-breakpoint-down(sm) {
  .modal-body {
    .selfie-camera {
      width: 300px;
      height: 300px;
    }
  }
  .image-buttons-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 25px;
    padding-bottom: 14px;
  }
  .captured-image {
    width: 300px;
    height: 300px;
  }
}

.mobile-corner-button {
  top: 73px;
}
