.decorative-background {
  background: linear-gradient(217.64deg, #006dff -5.84%, #5038ed 106.73%);
  height: 30px;
  width: 100%;
  > .decorative-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-image: url("https://s3-alpha-sig.figma.com/img/a57f/b6f5/d09df55185bc4fee2167b90f10d18288?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FGQ8ciQ2q8Kza2~sre-OtLOV9xkae2-gVNQqDosAqncojulihK037nbRG-nNvY55jceOPOzKYzGWT2TwXxPsEeyqYaN0wh~uq0vUeMxvzHmgtbzo-ITCvPOuJ87s9xEqXapHh9CidZ5kzjRsyZqhf3f0Oc9RwLqHfp2evUKlIwSPA9lwAOe0Y7BrxOqXjAhLGDfIhhabWnK9llh7UNIa8EkacCotP4MIX6Mqdh9BfUxsRFfRf29HtME2rvXko3KFX8Ia18tyPrr7Ui4yAx61ilV3TRagIFN05~bFk5K1Hp5Vn9HTC8BKA~huVLqSflRJn9x0vK528gynqecma4fuVg__");
    max-height: 30px;
  }
}
